[package]
name = "zeta8"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "server"
path = "src/server.rs"

[[bin]]
name = "client"
path = "src/client.rs"

[dependencies]
reqwest = "0.13.2"
tokio = { version = "1.49.0", features = ["full"] }
